<form class="worldbuilding" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="resource">
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <input type="text" name="data.power.value" value="{{data.power.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.power.max" value="{{data.power.max}}" data-dtype="Number"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item"  data-tab="attributes">Attributes</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="item-list">
            {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
        {{!-- Your Tab Name Here Tab --}}

        <div  class="tab attributes"  data-group="primary"  data-tab="attributes">  
            <ol  class="attributes-list">
                <li  class="attribute flexrow"  data-attribute="{{key}}">
                    <label  class="attribute-label"> Body: </label>
                    <input  type="text"  name="data.attributes.body.value"  value="{{data.attributes.body.value}}"  data-dtype="Number"/>
                    <label  class="attribute-label"> Lift: </label>
                    <input  type="text"  name="data.attributes.body.lift.value"  value="{{data.attributes.body.lift.value}}"  data-dtype="Number"/>
                    <label  class="attribute-label"> Throw:</label>
                    <input  type="text"  name="data.attributes.body.throw.value"  value="{{data.attributes.body.throw.value}}"  data-dtype="Number"/>
                    <label  class="attribute-label"> Sprint: </label>
                    <input  type="text"  name="data.attributes.body.sprint.value"  value="{{data.attributes.body.sprint.value}}"  data-dtype="Number"/>
                    <label  class="attribute-label"> Jump: </label>
                    <input  type="text"  name="data.attributes.body.jump.value"  value="{{data.attributes.body.jump.value}}"  data-dtype="Number"/>
                </li>
                <li>
                    <label  class="attribute-label"> Extras and Flaws: </label>
                    <input  type="text"  name="data.attributes.body.extras"  value="{{data.attributes.body.extras}}"  data-dtype="Text"/>
                </li>      
                <li  class="attribute flexrow"  data-attribute="{{key}}">
                    <label  class="attribute-label"> Coordination: </label>
                    <input  type="text"  name="data.attributes.coordination.value"  value="{{data.attributes.body.value}}"  data-dtype="Number"/>
                </li> 
                <li>
                    <label  class="attribute-label"> Extras and Flaws: </label>
                    <input  type="text"  name="data.attributes.coordination.extras"  value="{{data.attributes.coordination.extras}}"  data-dtype="Text"/>
                </li>
                <li  class="attribute flexrow"  data-attribute="{{key}}">
                    <label  class="attribute-label"> Sense: </label>
                    <input  type="text"  name="data.attributes.sense.value"  value="{{data.attributes.sense.value}}"  data-dtype="Number"/>
                </li> 
                <li>
                    <label  class="attribute-label"> Extras and Flaws: </label>
                    <input  type="text"  name="data.attributes.sense.extras"  value="{{data.attributes.coordination.extras}}"  data-dtype="Text"/>
                </li>
                <li  class="attribute flexrow"  data-attribute="{{key}}">
                    <label  class="attribute-label"> Mind: </label>
                    <input  type="text"  name="data.attributes.mind.value"  value="{{data.attributes.mind.value}}"  data-dtype="Number"/>
                </li> 
                <li>
                    <label  class="attribute-label"> Extras and Flaws: </label>
                    <input  type="text"  name="data.attributes.mind.extras"  value="{{data.attributes.mind.extras}}"  data-dtype="Text"/>
                </li>
                <li  class="attribute flexrow"  data-attribute="{{key}}">
                    <label  class="attribute-label"> Charm: </label>
                    <input  type="text"  name="data.attributes.charm.value"  value="{{data.attributes.charm.value}}"  data-dtype="Number"/>
                </li> 
                <li>
                    <label  class="attribute-label"> Extras and Flaws: </label>
                    <input  type="text"  name="data.attributes.charm.extras"  value="{{data.attributes.charm.extras}}"  data-dtype="Text"/>
                </li>
                <li  class="attribute flexrow"  data-attribute="{{key}}">
                    <label  class="attribute-label"> Command: </label>
                    <input  type="text"  name="data.attributes.command.value"  value="{{data.attributes.commmand.value}}"  data-dtype="Number"/>
                </li> 
                <li>
                    <label  class="attribute-label"> Extras and Flaws: </label>
                    <input  type="text"  name="data.attributes.command.extras"  value="{{data.attributes.command.extras}}"  data-dtype="Text"/>
                </li>                          
            </ol>  
        </div>


    </section>
</form>

